@import "../theme/theme.css";

*
{
    border: none;
    border-radius: 0px;
    font-weight: normal;
    min-height: 10px;
}

window#waybar
{
    background: rgba(0, 0, 0, 0);
}

tooltip
{
    background: @hover;
    color: @text;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button
{
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @text;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active
{
    background: @active;
    color: @active-text;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover
{
    background: @hover;
    color: @hover-text;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button
{
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @text;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active
{
    background: @background;
    color: @foreground;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover
{
    background: @hover;
    color: @text;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces,
#taskbar
{
    padding: 0px;
}

#tray menu *
{
    min-height: 16px
}

#tray menu separator
{
    min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-cpuinfo,
#cpu,
#custom-applauncher,
#custom-gpuinfo,
#custom-l_end,
#custom-notifications,
#custom-power,
#custom-r_end,
#custom-randomwallpapers,
#idle_inhibitor,
#language,
#memory,
#mpris,
#network,
#privacy,
#pulseaudio,
#taskbar,
#taskbar#windows,
#tray,
#window,
#workspaces
{
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: @border;

    color: @text;
    background: alpha(@background, .4);
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#custom-r_end
{
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
    border-right: solid;
    border-width: 2px;
    border-color: @border;
}

#custom-l_end
{
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
    border-left: solid;
    border-width: 2px;
    border-color: @border;
}

